{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>Дата: {{ currentDate }}</div>
    <div>Класс: {{ className }}</div>
    <div>Метод: {{ functionName }}</div>

    <div class="">
        <h1 class="">{{ trailers | length }} iTunes Movie trailers</h1>
        <div class="my_container">
            {% for trailer in trailers %}
                <div>
                    <div class="my_single_trailer">
                        <img src="{{ trailer.image }}">
                        <a href="{{ path('trailer', {'id': trailer.id}) }}">{{ trailer.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
